{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"printWidth": 100,
	"proseWrap": "always",
	"bracketSpacing": true,
	"importOrder": [
		"^(react/(.*)$)|^(react$)",
		"^(next/(.*)$)|^(next$)",
		"<THIRD_PARTY_MODULES>",
		"^@/app/(.*)$",
		"^@/features/(.*)$",
		"^@/shared/components/(.*)$",
		"^@/shared/components/ui/(.*)$",
		"^@/shared/config/(.*)$",
		"^@/shared/constants/(.*)$",
		"^@/shared/graphql/(.*)$",
		"^@/shared/hooks/(.*)$",
		"^@/shared/types/(.*)$",
		"^@/shared/lib/(.*)$",
		"^@/shared/utils/(.*)$",
		"^@/shared/api/(.*)$",
		"^@/__generated__/(.*)$",
		"^../(.*)",
		"^./(.*)"
	],
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports, prettier-plugin-tailwindcss"]
}
