@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {

  /* --background: #e8f7d3; */
  /* --background: #EBF0B3; */
  /* --background: #C6B376; */
  /* --background: #F0F0F0; */
  /* --background: #F8F8F8; */
  --background: #F2E7BD;
  --foreground: #171717;
  /* --foreground: #474747; */
  --accent: #feb249;

  --green-dark: #285430;
  --green-light: #a4be7b;
  --white-pale: #fafafa;
  --gradient-white-pale: linear-gradient(to top, #E3E3E3, #ffffff);
  --gradient-green-dark: linear-gradient(to top, #285430, #385E0195);
  --gradient-green-light: linear-gradient(to top, #a4be7b, #B2D48080);
  /* --accent: oklch(0.967 0.001 286.375); */
  /* --accent: #e28935; */
  /* --accent: #f6ad72; */
  /* color #EBEBEB; */
  /*  color #5f8d4e; */
  /*  color #385E01; */
  /*  color #E0EECC; */
  /*  color #B2D480; */
  --radius: 0.625rem;
  /* --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823); */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green-dark: var(--green-dark);
  --color-white-pale: var(--white-pale);
  --color-green-light: var(--green-light);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --background-image-gradient-green-dark: var(--gradient-green-dark);
  --background-image-gradient-green-light: var(--gradient-green-light);
  --background-image-gradient-white-pale: var(--gradient-white-pale);


  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);

  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);

  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);

  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);

  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-aclonica: var(--font-aclonica);
  --font-sonsie: var(--font-sonsie);
  --font-oleo: var(--font-oleo);
  --font-sansita: var(--font-sansita);

  --font-inter: var(--font-inter);
  --font-inter-tight: var(--font-inter-tight);
  --font-poppins: var(--font-poppins);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    @apply bg-background text-foreground;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


html {
  font-size: 16px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* ------------------------------- Collage 404 ------------------------------ */
.collageWrap {
  container-type: inline-size;
  container-name: collage;
  width: 150px;
  min-width: 50px;
  aspect-ratio: 1 / 1;
  position: relative;
}

.collageStage {
  position: absolute;
  inset: 0;
  border-radius: 100%;
  overflow: hidden;
}

.piece {
  position: absolute;
  border-radius: 100%;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}